span.as {
    font-size: 22px;
   
    color: darkolivegreen;
}
.info{
 font-size: 22px;  
font-weight: bold;
}
.wykonajT {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  text-align: left;
}
.wykonajT td, .wykonaj th {
  border: 2px solid #AAAAAA;
  padding: 3px 2px;
}
.wykonajT tbody td {
  font-size: 13px;
}


.tgl {float: left; width: 70%; padding: 10px 10px 10px 10px;}
.tgl  {border-collapse:collapse;border-spacing:10;border-color:#aabcfe;}
.tgl td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tgl tr{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tgl .tr-yw4l{vertical-align:top}

.tgp {float: right; width: auto}
.tgp,{border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tgp td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tgp tr{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tgp .tr-yw4l{vertical-align:top}
